body {
  background-color: #F7C3DA;
  font-family: monospace;
}

.pizza {
  font-family: 'Coiny',cursive;
  font-size: 75px;
  background-color: #ED6D91;
  color: #F1FAFE;
}

p {
  font-size: 30px;

}

#your-order{
  font-size: 30px;
  background-color: #DEC5E3;
  color: #F1FAFE;
  padding:15px;
  border-radius: 10px;
}

input#name{
  background-color: #ED6D91;
}

input.checkbox {
  font-size: 30px;
}


#ticket {
  display:none;
  background-color: #B6DCFE;
  color:#F1FAFE;
  padding:15px;
  text-align: center;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

button {
  background-color: #F7C3DA;
  color: #ED6D91;
  border-radius: 50px;
  padding: 2px;
  font-family: 'Coiny',cursive;

}


/*dark p: #ED6D91;
light p:#F7C3DA;
dark b : #B6DCFE;
lihgt b:#CDEDFD;
purp: DEC5E3;
